<!-- HEADER START -->
<div id="header" class="border-bottom mb-3">
    <!-- HEADER START -->
    <header class="p-2 bg-primary border-bottom mb-2">
        <div
            class="d-flex justify-content-between align-items-center bg-primary p-0"
        >
            <a
                href="#"
                class="d-flex align-items-center link-body-emphasis text-decoration-none"
            >
                <i
                    class="bi bi-list-task"
                    style="font-size: xx-large; color: white"
                ></i>
            </a>

            <form class="col-4" role="search">
                <input
                    type="search"
                    class="form-control mb-0"
                    placeholder="Search..."
                    aria-label="Search"
                />
            </form>

            <!-- DROPDOWN MENU -->
            <div class="dropdown">
                <a
                    href="#"
                    class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle text-white"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <img
                        src="https://github.com/mdo.png"
                        alt=""
                        width="32"
                        height="32"
                        class="rounded-circle me-2"
                    />
                    <strong>{{ request.user.username }}</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Profile</a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'logout' %}"
                            >Sign out</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- BUTTON GROUP START -->
    <div class="mb-2">
        <div class="d-flex justify-content-between align-items-center">
            <div id="buttonGroup">
                <button
                    class="task-list btn btn-outline-primary btn-sm"
                    data-taskslist="all"
                >
                    <i class="bi bi-house-heart"></i>
                    <span class="task-count">All</span>
                    <span id="allTasksCount"></span>
                </button>
                <button
                    class="task-list btn btn-outline-primary btn-sm"
                    data-taskslist="today"
                >
                    <i class="bi bi-sun-fill"></i>
                    <span class="task-count">Today</span>
                    <span id="todayTasksCount"></span>
                </button>
                <button
                    class="task-list btn btn-outline-primary btn-sm"
                    data-taskslist="important"
                >
                    <i class="bi bi-star-fill"></i>
                    <span class="task-count">Important</span>
                    <span id="importantTasksCount"></span>
                </button>
            </div>

            <div>
                <i
                    class="bi bi-arrow-down-up me-2"
                    style="font-size: x-large; color: blue"
                    onclick="sortTasks()"
                    data-bs-toggle="dropdown"
                ></i>
                <ul class="dropdown-menu">
                    <li class="dropdown-header text-center p-1">
                        <b>Sort by</b>
                    </li>
                    <li class="dropdown-divider m-0"><hr /></li>
                    <li class="dropdown-item">
                        <p class="sort-tasks" data-sort_by="important">
                            <i class="bi bi-star"></i> Importance (<i
                                class="bi bi-sort-up"
                            ></i
                            >)
                        </p>
                    </li>
                    <li class="dropdown-item">
                        <p class="sort-tasks" data-sort_by="-important">
                            <i class="bi bi-star"></i> Importance (<i
                                class="bi bi-sort-down-alt"
                            ></i
                            >)
                        </p>
                    </li>
                    <li class="dropdown-item">
                        <p class="sort-tasks" data-sort_by="due_date">
                            <i class="bi bi-bell"></i> Due date (<i
                                class="bi bi-sort-up"
                            ></i
                            >)
                        </p>
                    </li>
                    <li class="dropdown-item">
                        <p class="sort-tasks" data-sort_by="-due_date">
                            <i class="bi bi-bell"></i> Due date (<i
                                class="bi bi-sort-down-alt"
                            ></i
                            >)
                        </p>
                    </li>
                    <li class="dropdown-item">
                        <p class="sort-tasks" data-sort_by="title">
                            <i class="bi bi-arrow-down-up"></i> Alphabetically
                            (<i class="bi bi-sort-up"></i>)
                        </p>
                    </li>
                    <li class="dropdown-item">
                        <p class="sort-tasks" data-sort_by="-title">
                            <i class="bi bi-arrow-down-up"></i> Alphabetically
                            (<i class="bi bi-sort-down-alt"></i>)
                        </p>
                    </li>
                    <li class="dropdown-item">
                        <p class="sort-tasks" data-sort_by="created_at">
                            <i class="bi bi-database-add"></i> Creation date (<i
                                class="bi bi-sort-up"
                            ></i
                            >)
                        </p>
                    </li>
                    <li class="dropdown-item">
                        <p class="sort-tasks" data-sort_by="-created_at">
                            <i class="bi bi-database-add"></i> Creation date (<i
                                class="bi bi-sort-down-alt"
                            ></i
                            >)
                        </p>
                    </li>
                </ul>

                <i
                    class="bi bi-plus-circle"
                    style="font-size: x-large; color: blue"
                    data-bs-toggle="collapse"
                    data-bs-target="#new-task-form-view"
                    onclick="togglePlusIcon(this)"
                ></i>
            </div>
        </div>
    </div>

    <!-- BUTTON GROUP END -->
</div>
<!-- HEADER END -->
