body {
    margin: 0px;
    padding: 0px;
}

form {
    margin: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

#newTaskTitle {
    background-color: transparent;
    border: 0px;
    outline: none;
    width: 100%;
}

input:-internal-autofill-selected {
    background-color: transparent;
}
